# Dependencias
node_modules/

# Builds de Angular
dist/
out-tsc/

# Archivos temporales
.tmp/
temp/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/

# Angular cache
.angular/

# Sistema operativo
.DS_Store
Thumbs.db
